@{
    ViewData["Title"] = "Home Page";
}
@model PeopleRoot

<form action="../StarWars/GetPersonById" method="post">
    <input type="number" name="id" value="" placeholder="Character ID#" />
    <input type="submit" name="submit" value="Submit" />
</form>
<br />
<form action="../StarWars/GetPlanetById" method="post">
    <input type="number" name="id" value="" placeholder="Planet ID#" />
    <input type="submit" name="submit" value="Submit" />
</form>
<br />
<div><a href="../StarWars/GetPeopleList" class="btn btn-outline-primary">Character List</a></div>
<br />
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Character List
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @for (int i = 0; i < Model.results.Length; i++)
        {
        <a class="dropdown-item" href="../StarWars/GetPersonById?id=@i">@Model.results[i].name</a>
        }
    </div>
</div>